{% extends "accounts/main.html" %}
{% block content %}
{% include "accounts/status.html" %}

<div class='row'>
    <div class='col-md'>
        <div class='card card-body'>
            <a class="btn btn-primary btn-sm btn-block" href='{% url "create_order" clint.id %}'>Create Order</a>
            <table class='table table-sm'>
                <tr>
                    <th>Name</th>
                    <th>Platform</th>
                    <th>Phone</th>
                    <th>Price</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>gift</th>
                    <th>note</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.name}} </td>
                        <td>{{ order.get_platform_display}} </td>
                        <td>{{ order.phone}} </td>
                        <td>{{ order.price}} </td>
                        <td>{{ order.location}} </td>
                        <td>{{ order.status }} </td>
                        <td>{{ order.gift|yesno:',false'}} </td>
                        <td>{{ order.note}} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<h3>
    User Profile
</h3>

{% endblock content %}